---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Artist from "../components/Artist.astro";
import Day from "../components/Day.astro";
import Button_line from "../components/Button_line.astro";
const url = "https://lqsydolvzgwrecxfbwmp.supabase.co/rest/v1/kune";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxxc3lkb2x2emd3cmVjeGZid21wIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3OTU1NDAsImV4cCI6MTk5NDM3MTU0MH0.8FosJWKvJueQg96G9INSXixKRgxb9UXEYfhFbYWOSGU",
  },
};
const response = await fetch(url, options);
const data = await response.json();
console.log(data);
const wednesday = data.filter((act) => act.day === "Wednesday");
const thursday = data.filter((act) => act.day === "Thursday");
const friday = data.filter((act) => act.day === "Friday");
const saturday = data.filter((act) => act.day === "Saturday");
const sunday = data.filter((act) => act.day === "Sunday");
---

<Layout>
  <Header title="LINE-UP">
    <img src="/lineup2.webp" alt="lineup" />
  </Header>
  <main>
    <h2>ARTISTS</h2>
    <Day title="WEDNESDAY, 19th JULY" />
    <div>
      {wednesday.map((artist) => <Artist image={`/img/${artist.image}`} name={artist.name} />)}
    </div>
    <Day title="THURSDAY, 20th JULY" />
    <div>
      {thursday.map((artist) => <Artist image={`/img/${artist.image}`} name={artist.name} />)}
    </div>
    <Day title="FRIDAY, 21th JULY" />
    <div>
      {friday.map((artist) => <Artist image={`/img/${artist.image}`} name={artist.name} />)}
    </div>
    <Day title="SATURDAY, 22th JULY" />
    <div>
      {saturday.map((artist) => <Artist image={`/img/${artist.image}`} name={artist.name} />)}
    </div>
    <Day title="SUNDAY, 23th JULY" />
    <div>
      {sunday.map((artist) => <Artist image={`/img/${artist.image}`} name={artist.name} />)}
    </div>
    <Button_line title="GET TICKETS" />
  </main>
</Layout>

<style>
  @media (min-width: 800px) {
    div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      margin-inline: 6rem;
    }
    h2 {
      margin: 2rem;
    }

    .Button_line {
      margin: 2rem;
    }
  }
  @media (max-width: 800px) {
    div {
      margin: 4rem;
    }
    h2 {
      margin-block: 1.5rem;
    }
  }
</style>
